services:
  postgres:
    image: postgres:latest
    container_name: dailyrise-db
    environment:
      POSTGRES_DB: DailyRise
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_INITDB_ARGS: "--encoding=UTF8"
      PGDATA: /var/lib/postgresql/data
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres/init:/docker-entrypoint-initdb.d:ro
    ports:
      - "5432:5432"
    networks:
      - app-network
    restart: unless-stopped
    # Для отладки временно отключите healthcheck
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres || exit 0"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
  webapp:
    build: .
    container_name: dailyrise-webapp
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ASPNETCORE_URLS: http://+:5000
      ConnectionStrings__DbConnection: "Host=postgres;Database=DailyRise;Username=postgres;Password=123;Include Error Detail=true"
    volumes:
      - ./logs:/app/logs
    ports:
      - "5000:5000"
      - "5001:5001"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: