services:
  postgres:
    image: postgres:16
    container_name: dailyrise-db
    environment:
      POSTGRES_DB: DailyRise
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    restart: unless-stopped

  webapp:
    image: ghcr.io/N1ghtmarex/dailyrise-backend:latest
    container_name: dailyrise-webapp
    depends_on:
      - postgres
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ASPNETCORE_URLS: http://+:5000
      ConnectionStrings__DbConnection: "Host=postgres;Database=DailyRise;Username=postgres;Password=123"
    ports:
      - "5000:5000"
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:

volumes:
  postgres_data:
